//cspell:disable
$orange: #F15927;
$white: #ffffff;
$bgcolor: #222;

.conteneur {

  .appbar {

    header {
      height: 10%;
      width: 100%;
      justify-content: space-between;
      background-color: $bgcolor;
      color: $white;
      padding: 0.1px 1%;
      display: flex;
      align-items: center;

      .logo {
        justify-content: space-between;
        padding: 2px;
        margin-left: 2px;
        font-weight: bold;
        height: 100%;
        width: 100%;
      }

      .fa-home {
        color: $orange;
      }

      .fa-home {
        font-weight: bold;
        color: #f57c00;
        font-size: 1rem;
        text-shadow: 0 0 5px rgba(255, 165, 0, 0.6);
        padding: 10px;
        border-radius: 50%;
        font-size: 30px;
      }

      .fa-solid {
        background-color: $white;
        color: $orange;
        padding: 0px;
        border-radius: 10%;
        font-size: 30px;
      }

    }

  }
}

.btn btn-outline-warning {
  height: '40px';
  width: '300px';
  color: $orange;

}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}