//cspell:disable
@import '../styles/components/appbar.scss';
@import './settings.scss';
@import '../styles/components/footer.scss';
@import "./components/bouton.scss";
@import "./components/presentation.scss";
@import "./components/priserdvbtn.scss";
@import "./components/divgauche.scss";